* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
  max-width: 90%;
  margin: 5px auto;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column; /*change to row for other pages*/
  align-items: center;
}

header.smallbanner {
  flex-direction: row;
}

img.logo {
  width: 200px;
  margin-top: 5px;
}

img.smallbanner {
  width: 90px;
  margin-right: 10px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin: 8px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
  line-height: 28px;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button {
  display: block;
  margin: 10px auto;
  font-size: 24px;
  cursor: pointer;
}

form {
  font-size: 18px;
  margin: 0 auto;
}

select, input[type="text"] {
  width: 90%;
}

input, label {
  display: block;
  margin: 5px 0;
}

fieldset {
  margin-top: 8px;
}

legend {
  font-size: 24px;
  float: left;
  margin: 5px 0;
}

label {
  clear: left;
}

.submit-button {
  font-size: 20px;
  margin: 10px auto;
  cursor: pointer;
}

.error-overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  font-size: 32px;
  color: white;
  padding: 100px 20px 0 20px;
}

.wine-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 100px 20px 0 20px;
}

img.recipe-img, img.cocktail-img {
  width: 200px;
  display: block;
  margin: 10px;
}

li.recipe-result, li.cocktail-result {
  font-size: 22px;
  font-weight: bold;
  list-style: none;
  padding-top: 20px;
}

.recipe-result a:link, .cocktail-result a:link {
  text-decoration: none;
  color: black;
}

.recipe-result a:hover, .cocktail-result a:hover {
  font-weight: bold;
}

button.wp {
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.general-pairing {
  border: 1px solid lightslategray;
  padding: 0 10px;
  border-radius: 4px;
}

.wpt p {
  font-weight: normal;
  font-size: 18px;
}

.filter-container {
  clear: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.filter-box {
  margin-right: 20px;
}

fieldset.required-parameters {
  clear: left;
}

@media screen and (min-width: 50em) {

  form {
    max-width: 80%;
  }

  .filter-box {
    width: 30%;
  }

  input#cocktail {
    width: 50%;
  }

  .display-toggle {
    display: none;
  }

  p.greeting {
    margin: 0 auto;
    width: 60%;
  }

  li.recipe-result, li.cocktail-result {
    width: 25%;
  }

}

@media screen and (min-width: 70em) {
  form {
    max-width: 70%;
  }
}

@media screen and (max-width: 49em) {
  h1 {
    font-size: 28px;
  }

  h1.smallbanner {
    font-size: 20px;
  }

  h2 {
    font-size: 24px;
  }

  img.logo {
    width: 140px;
  }

  img.smallbanner {
    width: 80px;
  }

  p {
    font-size: 18px;
  }

  legend {
    font-size: 22px;
  }

  legend.sub-legend {
    font-size: 18px;
  }

  label {
    font-size: 16px;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .filter-container.required {
    flex-direction: column;
  }
  
  .display-toggle {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }

  .display-toggle button {
    width: 50%;
    margin: 0;
  }

  .selected {
    background-color: purple;
  }

  .food-results {
    display: none;
  }

}